<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.apes.plugins.CanvasToDataURL"
    version="1.0.4">

    <name>CanvasToImgAndroid</name>
    <description>Add toDataURL analog to android 2.x  Browsers.</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>    

    <js-module src="www/canvas_plugin.js" name="CanvasPlugin">
        <clobbers target="CanvasPlugin" />
    </js-module>
<!--
    <asset src="www/canvas_plugin.js" target="canvas_plugin.js" />
-->
   
    <!-- android -->
    <platform name="android">

        <source-file src="src/android/com/phonegap/plugins/CanvasPlugin.java" target-dir="src/com/phonegap/plugins/canvasplugin" />
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CanvasPlugin">
                <param name="android-package" value="com.phonegap.plugins.CanvasPlugin" />
            </feature>
        </config-file>

    </platform>
</plugin>
